img {
  min-width: 200px;
  max-width: 300px;
  height: auto;
}

.photo {
  min-height: 200px;
  min-width: 125px;
  background-image: url("http://www.yachts-boat.com/oc-content/themes/osclasswizards/images/no_photo.gif");
  background-size: cover;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

li {
  list-style: none;
  font-family: sans-serif;
}
